.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.main-header ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
.main-header a{
    text-decoration: none;
    color: var(--grafite-escuro);
    
    font-weight: 600;
}
.main-header a:hover{
    color: var(--verde-oliva-sutil);
}