@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --branco-casca-de-ovo: #F4F4F0;
  --grafite-escuro: #343A40;
  --verde-oliva-sutil: #6B7D6A;
  --azul-aco: #4A6981;
}
body {
  background-color: var(--branco-casca-de-ovo); /* Nossa cor de fundo! */
  color: var(--grafite-escuro); /* Nossa cor de texto padrão! */
  font-family: 'Montserrat', sans-serif; /* Nossa fonte! */
}